body{
	font-family:sans-serif;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.welcome{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	align-content:center;
	width: 20em;
	height: 23em;
	background-color:#acb0ad; 
	margin-top:7%;
	border-radius: 10px;
	padding: 25px;
}
.username{
	margin:10px;
}
input {
	margin: 2.5px;
	border:none;
	border-radius: 4px;
	height: 1.5em;
	outline:none;
}
.words{
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	margin: 10px;
}

button{
	margin: 10px;
	height: 2em;
	border-radius: 5px;
	background-color: black;
	color:white;
	font-weight: bold;
	font-style:italic;
	font-size:19px;
	outline:none;
}
a{
	text-decoration:inherit;
	color:inherit;
	cursor:pointer;
}