@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
body{
	font-family:sans-serif;
	display:flex;
	flex-direction:column;

	background: url("../imagenes/letrascolores.png");
	overflow-x: hidden;
	font-size: 16px;
	margin:0px;
	text-align:center;
}
.contenido{
	position: absolute;
	left: 50%;
	top: 350%;
	width: 400px;
	height: 200px;
	margin: -100px 0 0 -200px;



}
.bienvenida{
	display: flex;
	flex-direction:column;

	width: 320px;
	height: 368px;
	background-color:#05991d;
	margin-top:10%;
	border-radius: 10px;
	padding: 25px;
}
.username{
	margin:10px;
}
input {
	margin: 2.5px;
	border:none;
	border-radius: 4px;
	height: 1.5em;
	outline:none;
}
.words{
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	margin: 10px;
}

button{
	margin: 10px;
	height: 2em;
	border-radius: 5px;
	background-color: coral;
	color:white;
	font-weight: bold;
	font-size:18px;
	outline:none;
}
a{
	text-decoration:inherit;
	color:inherit;
	cursor:pointer;
}


#container {
	color:#ca4ef37f3;
	text-transform: uppercase;
	font-size:25px;
	font-weight:bold;

	margin-top: 70px;
	margin-left: -15px;


}

#flip {
	height:50px;
	overflow:hidden;
}

#flip > div > div {
	color:#fff;
	padding:4px 12px;
	height:45px;
	margin-bottom:45px;
	display:inline-block;
}

#flip div:first-child {
	animation: show 5s linear infinite;
}

#flip div div {
	background:#42c58a;
}
#flip div:first-child div {
	background:#4ec7f3;
}
#flip div:last-child div {
	background:#DC143C;
}

@keyframes show {
	0% {margin-top:-270px;}
	5% {margin-top:-180px;}
	33% {margin-top:-180px;}
	38% {margin-top:-90px;}
	66% {margin-top:-90px;}
	71% {margin-top:0px;}
	99.99% {margin-top:0px;}
	100% {margin-top:-270px;}
}

p {
	position:fixed;
	width:100%;
	bottom:30px;
	font-size:12px;
	color:#999;
	margin-top:200px;
}
#viewport {
	padding-left: 250px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#content {
	width: 100%;
	position: relative;
	margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 250px;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #05991d;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#sidebar header {
	background-color: #263238;
	font-size: 20px;
	line-height: 52px;
	text-align: center;
}

#sidebar header a {
	color: #fff;
	display: block;
	text-decoration: none;
}

#sidebar header a:hover {
	color: #fff;
}

#sidebar .nav{

}

#sidebar .nav a{
	background: none;
	border-bottom: 1px solid #455A64;
	color: #CFD8DC;
	font-size: 14px;
	padding: 16px 24px;
}

#sidebar .nav a:hover{
	background: none;
	color: #ECEFF1;
}

#sidebar .nav a i{
	margin-right: 16px;
}